---
layout: default
---
<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114683858-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114683858-1');
</script>



<title>Josefina González</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MLNP49S"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- CABECERA -->
{% include cabecera.html %}
<!-- FIN CABECERA -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- MENU -->
{% include menu.html %}
<!-- FIN MENU -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Could use a jQuery background switcher script here to swap the background image for a different one -->
<div class="wrapper bgded imagen_index">
  <section id="intro"> 
    <!-- ################################################################################################ -->
    <div class="caja">
      <p class="texto_grande">Josefina González, psicóloga en Madrid</p>
       <center><div class=""><a href="tel:670064084"><span class="btn_big" href="#">670064084</span></a></div></center>
    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <section id="cta" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="three_quarter first">

    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="group">
      <div class="one_half first"> 
        <!-- ################################################################################################ -->
        <figure><a href="#"><img class="borderedbox inspace-10 btmspace-30" src="{{ site.github.url }}/assets//images/pajaros.jpg" alt=""></a>
          <figcaption class="borderedbox inspace-30 bg-white">
            <h2 class="heading">Pareja</h2>
            <p>La pareja es un sistema dinámico de unión en la que dos personas procedentes de vivencias diferentes se unen para sostener y nutrir un sistema común que será sometido a obstáculos, vivencias o cambios.</p>
            <p>La pareja conlleva momentos de satisfacción pero también momentos de frustración o desánimo que pueden llevar a cuestionar su funcionamiento y plantear una ruptura.</p>
            <footer><a class="btn" href="pareja.html">Leer más <span class="fa fa-arrow-right"></span></a></footer>
          </figcaption>
        </figure>
        <!-- ################################################################################################ -->
      </div>
      <div class="one_half"> 
        <!-- ################################################################################################ -->
        <figure class="btmspace-30"><a href="#"><img class="borderedbox inspace-10 btmspace-10" src="{{ site.github.url }}/assets//images/playa.jpg" alt=""></a>
          <figcaption class="borderedbox inspace-30 bg-white">
            <h2 class="heading">Adultos</h2>
            <p>La vida no es un camino fácil. En ocasiones se presentan obstáculos que nos desestabilizan sintiéndonos confusos, tristes, perdidos, saturados o sin energía.</p>
            <footer><a class="btn" href="adultos.html">Leer más <span class="fa fa-arrow-right"></span></a></footer>
          </figcaption>
        </figure>
        <figure><a href="#"><img class="borderedbox inspace-10 btmspace-10" src="{{ site.github.url }}/assets/images/flores.jpg" alt=""></a>
          <figcaption class="borderedbox inspace-30 bg-white">
            <h2 class="heading">Psicología perinatal</h2>
            <p>Aproximadamente una de cada 5 mujeres sufre depresión o ansiedad pre o postnatal. Los trastornos perinatales tienen una prevalencia del 25%.</p>
            <footer><a class="btn" href="perinatal.html">Leer más <span class="fa fa-arrow-right"></span></a></footer>
          </figcaption>
        </figure>
        <!-- ################################################################################################ -->
      </div>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row4 bgded">
  <div class="overlay">
    <section id="footercta"> 
      <br>
    </section>
  </div>
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- FOOTER -->
{% include footer.html %}
<!-- FIN FOOTER -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a> 
<!-- JAVASCRIPTS -->

{% include estilosyjs.html %}

<script>
  w3.includeHTML(llamaReady);
</script>
</body>
</html>