<div class="wrapper row0">
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <header id="header" class="clear"> 
    <!-- ################################################################################################ -->
    <div id="logo" class="fl_left">
      <h1><a href="index.html">Josefina González</a></h1>
      <p>Psicóloga sanitaria
      Colegiada M-27222</p>
    </div>
    <div class="fl_right">
      <ul class="nospace inline">
        <li><a href="adultos.html">Terapia individual</a></li>
        <li><a href="pareja.html">Terapia pareja</a></li>
        <li><a href="familia.html">Terapia familia</a></li>
      </ul>
      <!--a href="#">Terapia online</a>&nbsp;&nbsp;
      <img src="./images/skype.png" width="200">&nbsp;
      <img src="./images/facetime.png" width="200">
      <img src="./images/hangouts.jpg" width="200"-->
    </div>
    <!-- ################################################################################################ -->
  </header>
</div>