<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5 sombra_arriba">
  <footer id="footer" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Josefina González</h6>
      <address class="btmspace-15">
      Psicóloga sanitaria<br>
      Colegiada M-27222<br>
      </address>
      <ul class="nospace">
        <li class="btmspace-10"><span class="fa fa-phone"></span><a href="tel:670064084"><b>670064084</b></a></li>
        <li><span class="fa fa-envelope-o"></span> info@josefinagonzalez.es</li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Enlaces</h6>
      <ul class="nospace linklist">
        <li><a href="index.html">Home</a></li>
        <li><a href="servicios.html">Servicios</a></li>
        <li><a href="biografia.html">Biografía humana</a></li>
        <li><a href="perinatal.html">Psicología perinatal</a></li>
        <li><a href="quien.html">Quién soy</a></li>
        <li><a href="contacto.html">Contacto</a></li>
        <li><a href="recursos.html">Recursos</a></li>
      </ul>
    </div>
    <!--div class="one_quarter">
      <h6 class="title">From The Blog</h6>
      <article>
        <h2 class="nospace"><a href="#">Lorem ipsum dolor</a></h2>
        <time class="smallfont" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
        <p>Vestibulumaccumsan egestibulum eu justo convallis augue estas aenean elit intesque sed.</p>
      </article>
    </div-->
    <div class="one_quarter">
    	<!-- Inicio codigo nº8 WIS PortalesMedicos.com --><div><a href="https://www.portalesmedicos.com/web_interes_sanitario/180075.htm" target="_blank"><img src="https://www.portalesmedicos.com/web_interes_sanitario/logo_wis_100x80.jpg" style="border-width: 0px" /></a></div><div><a href="https://www.portalesmedicos.com/web_interes_sanitario/index.htm" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: small">Web de Interes Sanitario</a></div><!-- Fin codigo nº8 WIS PortalesMedicos.com -->
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row6">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <!--p class="fl_left">Copyright &copy; 2015 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p-->
    <!-- ################################################################################################ -->
    <p class="fl_right"><p id="fechamodificacion"></p></p>
  </div>
</div>
